<h1 class="text-2xl font-bold mb-4">Welcome to Your Application</h1>

<%= debug session[:cart]%>
<%= form_with url: redirect_path, method: :post, local: true do |form| %>
  <div class="flex items-center space-x-4">
    <div class="flex-1">
      <%= form.label :category_id, "Choose a category:", class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, @selected_category_id), { prompt: "Select a category" }, class: "block w-full mt-1 p-2 border border-gray-300 rounded-md shadow-sm bg-white dark:bg-gray-700 dark:border-gray-600 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      
    </div>
    <div>
        <%= form.submit "Filter", class: "py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mt-6"%>
    </div>
  </div>
<% end %>

<% if @selected_category %>
  <%= render partial: 'products/prducts' %>
<% end %>
