<div class="mb-4 px-4 sm:px-6">
  <%= form_with url: products_path, method: :get do %>
    <div class="flex flex-col sm:flex-row sm:items-end sm:space-x-4">
      <div class="flex-1">
        <%= label_tag :category_id, "Filter by Category", class: "block mb-2 text-sm font-medium" %>
        <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: "Select a category", class: "block w-full p-2 border rounded bg-gray-50 dark:bg-gray-700" %>
      </div>
      <div class="flex-1">
        <%= label_tag :filter, "Filter:", class: "block mb-2 text-sm font-medium" %>
        <%= select_tag :filter, options_for_select([['On Sale', 'on_sale'], ['Recently Updated', 'recently_updated']], params[:filter]), prompt: "All Products", class: "block w-full p-2 border rounded bg-gray-50 dark:bg-gray-700" %>
      </div>
      <div class="flex-1">
        <%= label_tag :search, "Search by Name", class: "block mb-2 text-sm font-medium" %>
        <%= text_field_tag :search, params[:search], class: "block w-full p-2 border rounded bg-gray-50 dark:bg-gray-700" %>
      </div>
      <div class="flex items-end sm:ml-4">
        <%= submit_tag "Filter", class: "py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700" %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'products/prducts' %>

 <%= paginate @products %>